<h4>Ниже Вы можете записаться на стрижку</h4>

<form action="/visit" method="POST" role="form">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="client[name]" type="text" class="form-control" placeholder="Введите Ваше имя" >
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="client[phone]" type="text" class="form-control" placeholder="Введите Ваш телефон" >
  </div>

  <div class="form-group">
    <label>Укажите время визита</label>
    <input id="dtp1" name="client[datestamp]" type="text" class="form-control" placeholder="Введите время визита" >
  </div>

  <div class="form-group">
  <label for="baber">Выберите барбера</label><br />
  <select name="client[barber]" class="custom-select">
  	<% @barbers.each do |item| %>
  	<option <%= @barbers == item['name'] ? 'selected' : '' %> value=<%= item['name'] %> ><%= item['name'] %></option>
  	<% end %>
  </select>
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>

<script type="text/javascript">
 		$('#dtp1').datetimepicker({
 			format:'Y-m-d H:i',
 			dayOfWeekStart: 1,
 			lang: 'ru',
 			minDate: 0,
 			minTime: '10:00',
 			maxTime: '21:00'
 		});
</script>